In [113]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle

In [160]:
df = pd.read_csv('/Users/soumyajyotidutta/Desktop/Academics/Spring23/Machine Learning/Homework 2/Traindata copy.csv')
df_unsorted = df
# create sorted dataframes w.r.t features  
df = df.sort_values(by = 'X1', kind='mergesort') # X1 -> df1
df1 = df.reset_index()

df = df.sort_values(by = 'X2', kind='mergesort') # X2 -> df2
df2 = df.reset_index()

df = df.sort_values(by = 'X3', kind='mergesort') # X3 -> df3
df3 = df.reset_index()

df['X2'][1]

0.42924

In [115]:
# sorted arrays
arrX1 = np.array(df1['X1']) # X1
arrX2 = np.array(df2['X2']) # X2
arrX3 = np.array(df3['X3']) # X3
arrY1 = np.array(df1['Y'])  # Y -> X1 
arrY2 = np.array(df2['Y'])  # Y -> X2
arrY3 = np.array(df3['Y'])  # Y -> X3

In [116]:
# the map of individual sorted features [arrays]
featureDict = {
    "key1" : arrX1,
    "key2" : arrX2,
    "key3" : arrX3,
    
}

In [117]:
# access items of the map
def accessMap(x: dict, iteration_count: int):
    if iteration_count == 1:
        x = np.array(featureDict["key1"])
    elif iteration_count == 2:
        x = np.array(featureDict["key2"])
    else:
        x = np.array(featureDict["key3"])
    return x

In [118]:
# function for deciding Y to utilize in function for F
def decideY(iteration_count):
    if iteration_count == 1:
        array = arrY1
    elif iteration_count == 2:
        array = arrY2
    else:
        array = arrY3
    return array

In [119]:
# function for 'F'
def getF(iteration_count):
    F = 0
    array = decideY(iteration_count) # calls decideY function
    for i in range(len(array)):
        if array[i] == 1:
            F = F+D
    return F

In [253]:
# initialize constants
D, F_star = 1/500, np.Infinity
theta_star = 0
j_star = 0
list1 = []
# decision stump to generate optimal threshold and the best feature 
for j in range(1,4):
    F_star = np.Infinity
    iteration_count = j
    array_of_X = accessMap(featureDict, iteration_count)
    array_of_Y = decideY(iteration_count)
    F = getF(iteration_count)
    if F < F_star:
        F_star = F 
        theta_star = array_of_X[0] - 1
        j_star = j
    for i in range (len(array_of_X) - 1):
        F = F - array_of_Y[i]*D
        if F < F_star and array_of_X[i] != array_of_X[i+1]:
            F_star = F
            theta_star = 0.5*(array_of_X[i] + array_of_X[i+1])
            j_star = j
    list1.append(theta_star)       
    
    output = {
        'Optimal Threshold': list1,
        'Best Feature': j_star
    }

In [254]:
OPT_Thresh = output['Optimal Threshold'] 
Best_Feature = output['Best Feature'] 
print(f"Optimal Threshold is {OPT_Thresh} \n Best Feature is Feature No. {Best_Feature}")

Optimal Threshold is [0.723765, 0.43848, 0.49838]
 Best Feature is Feature No. 3

In [255]:
# classify data w.r.t Optimal Threshold - generate yHat [classified labels]
#X1
label_X1 = np.array(df1['X1'])
yHat_X1 = []
thresh_X1 = list1[0]

#X2
label_X2 = np.array(df2['X2'])
yHat_X2 = []
thresh_X2 = list1[1]

#X3
label_X3 = np.array(df3['X3'])
yHat_X3 = []
thresh_X3 = list1[2]

In [256]:
def yHat(feature: np.array, yHat_Feature: list, thresh: float):
    for i in range(len(feature)):
        if feature[i] >= thresh:
            yHat_Feature.append(-1)
        else:
            yHat_Feature.append(1)
    return yHat_Feature

In [266]:
YHat_X1 = np.array(yHat(label_X1, yHat_X1, thresh_X1))
YHat_X1 = pd.DataFrame(YHat_X1)
df1['yHat'] = YHat_X1

In [258]:
YHat_X2 = np.array(yHat(label_X2, yHat_X2, thresh_X2))
YHat_X2 = pd.DataFrame(YHat_X2)
df2['yHat'] = YHat_X2

In [259]:
YHat_X3 = np.array(yHat(label_X3, yHat_X3, thresh_X3))
YHat_X3 = pd.DataFrame(YHat_X3)
df3['yHat'] = YHat_X3

In [260]:
def errorFunc(x: np.array, y: np.array):
    count = 0
    for i in range (len(x)):
        if y[i] != x[i]:
            count += 1
    return count/len(x)

In [261]:
print(f"Training Error for X1: {errorFunc(np.array(df1['Y']), np.array(df1['yHat']))}")
print(f"Training Error for X2: {errorFunc(np.array(df2['Y']), np.array(df2['yHat']))}")
print(f"Training Error for X3: {errorFunc(np.array(df3['Y']), np.array(df3['yHat']))}")

Training Error for X1: 0.472
Training Error for X2: 0.472
Training Error for X3: 0.0

In [264]:
# df3.plot(kind ='scatter',x = 'X3', y = 'Y')
# df3.plot(kind ='scatter',x = 'X3', y = 'yHat')
# plt.show()

# Test

In [279]:
df_test = pd.read_csv('/Users/soumyajyotidutta/Desktop/Academics/Spring23/Machine Learning/Homework 2/Testdata.csv')

# classify data w.r.t Optimal Threshold - generate yHat [classified labels]
#X1
labelX1 = np.array(df_test['X1'])
yHatX1 = []
threshX1 = list1[0]

#X2
labelX2 = np.array(df_test['X2'])
yHatX2 = []
threshX2 = list1[1]

#X3
labelX3 = np.array(df_test['X3'])
yHatX3 = []
threshX3 = list1[2]

In [280]:
YHatX1 = np.array(yHat(labelX1, yHatX1, threshX1))
YHatX1 = pd.DataFrame(YHatX1)
df_test['yHat1'] = YHatX1

In [281]:
YHatX2 = np.array(yHat(labelX2, yHatX2, threshX2))
YHatX2 = pd.DataFrame(YHatX2)
df_test['yHat2'] = YHatX2

In [282]:
YHatX3 = np.array(yHat(labelX3, yHatX3, threshX3))
YHatX3 = pd.DataFrame(YHatX3)
df_test['yHat3'] = YHatX3

In [283]:
df_test

          X1        X2        X3  Y  yHat1  yHat2  yHat3
0   0.420560  0.678490  0.158190  1      1     -1      1
1   0.283850  0.055688  0.479560  1      1      1      1
2   0.048181  0.034057  0.249340  1      1      1      1
3   0.219170  0.286520  0.369300  1      1      1      1
4   0.239180  0.077390  0.006378  1      1      1      1
..       ...       ...       ... ..    ...    ...    ...
95  0.579970  0.070755  0.740450 -1      1      1     -1
96  0.328540  0.378790  0.940420 -1      1      1     -1
97  0.268190  0.268170  0.640340 -1      1      1     -1
98  0.550240  0.152920  0.799570 -1      1      1     -1
99  0.180520  0.631000  0.513110 -1      1     -1     -1

[100 rows x 7 columns]

In [285]:
print(f"Test Error for X1: {errorFunc(np.array(df_test['Y']), np.array(df_test['yHat1']))}")
print(f"Test Error for X2: {errorFunc(np.array(df_test['Y']), np.array(df_test['yHat2']))}")
print(f"Test Error for X3: {errorFunc(np.array(df_test['Y']), np.array(df_test['yHat3']))}")

Test Error for X1: 0.52
Test Error for X2: 0.52
Test Error for X3: 0.0